/* App.css */
@import "tailwindcss";

* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

.motion-div {
  
  width: 10%;
}

/* Bubble animation */
@keyframes bubble-float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-100vh) scale(2);
    opacity: 1;
  }
  100% {
    transform: translateY(-200vh) scale(0.8);
    opacity: 0;
  }
}

.bubble {
  animation: bubble-float linear infinite;
  will-change: transform, opacity;
}